@using Umbraco.Core
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ModuleViewModel>
@{
    IPublishedContent content   = Model.Content;
    var className               = content.GetPropertyValue("className");
    var bgColor                 = content.HasValue("bgColor") ? "style=background:#" + content.GetPropertyValue("bgColor") : "";
    var fontColor               = content.HasValue("fontColor") ? "style=color:#" + content.GetPropertyValue("fontColor") : "";
    var groups                  = content.Children();

    <div class="@className two-col-module" @bgColor>
        <div class="col-wrapper">
            @if(content.HasValue("header"))
            {
                <div class="header" @fontColor>
                    @Html.Raw(content.GetPropertyValue("header").ToString())
                </div>   
            }

            <div class="col first" @fontColor>
                <div class="wrapper">
                    @Html.Raw(content.GetPropertyValue("body").ToString())
                </div>
            </div>
            <div class="col"> 
                <div class="wrapper quick-nav" @fontColor>
                   @Html.Raw(content.GetPropertyValue("navTitle"))
                   @foreach(var group in groups)
                   {
                       <h6>@group.Name</h6>
                    <ul>
                        @foreach (var item in group.Children)
                        {
                            <li>
                                <h2>@item.Name</h2>
                                <a class="cta arrow-right" href="@Umbraco.Content(item.GetPropertyValue("link")).Url">@item.GetPropertyValue("callToAction")</a>
                            </li>
                        }
                    </ul>
                   }

                </div>
            </div>

            @*
                @if(content.HasValue("footer"))
                {
                    <div class="footer" @fontColor>
                        @Html.Raw(content.GetPropertyValue("footer").ToString())
                    </div>
                }
            *@
        </div>
    </div>
}